/* Allgemeine Stile */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

/* Hamburger-Menü-Stile */
.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: fixed;
  top: 15px; /* Abstand vom oberen Rand */
  left: 15px; /* Abstand vom linken Rand */
  z-index: 1001; /* Über der Kopfzeile, wenn vorhanden */
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

/* Dropdown-Menü-Stile */
nav.nav-dropdown {
  display: none;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 60px; /* Höhe der Kopfzeile, falls vorhanden */
  left: 0;
  background-color: #333;
}

nav.nav-dropdown.show {
  display: flex;
}

nav.nav-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.nav-dropdown li {
  margin: 10px 0;
}

nav.nav-dropdown a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

/* Container für den Inhalt innerhalb der Kopfzeile */
header .container {
  max-width: 1200px;
  margin: 0 auto; /* Zentriert den Container */
  display: flex;
  justify-content: space-between; /* Abstand zwischen den Elementen */
  align-items: center; /* Vertikal zentrieren */
  position: relative;
}

/* Kopfzeile */
header {
  background-color: transparent; /* Durchsichtig machen */
  padding: 15px;
  color: #fff;
  box-sizing: border-box; /* Hinzugefügt, um das Box-Modell zu berücksichtigen */
}

nav {
  width: 100%; /* Füllt den verfügbaren Platz in der Kopfzeile aus */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Vertikal zentrieren */
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

/* Abschnitte */
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Abschnitt: Home */
#home {
  background-color: transparent; /* Hintergrundfarbe auf Schwarz setzen #000 */
  color: #fff;
  position: relative;
  min-height: 100vh;
  overflow: hidden; /* Verhindert Überlauf und sichtbaren Rahmen */
}

#home img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Änderung: "contain" zu "cover" für vollständige Abdeckung */
  display: block;
  border: none; /* Änderung: Border entfernen */
}

#home .container {
  position: relative;
  text-align: center;
  z-index: 1;
}

#home h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em; /* Ändere die Schriftgröße hier nach Bedarf */
}

/* Weitere Stile für die Abschnitte hinzufügen */

/* Footer */
footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Container für den Inhalt innerhalb des Footers */
footer .container {
  max-width: 1200px;
  margin: 0 auto; /* Zentriert den Container */
}

/* Media Query für kleinere Bildschirme */
@media screen and (max-width: 768px) {
  nav ul {
    display: none;
  }

  nav.nav-dropdown.show ul {
    display: flex;
    flex-direction: column; /* Anpassung für untereinander stehende Elemente */
  }
}
